.table-stripped {
    margin-top: 1em;
}

.table-stripped td {
    width: 50%;
}
input[type=date].form-contol::-webkit-calendar-picker-indicator{
    cursor: pointer!important;
}
.card .img-add-form{
    width: 100%;
}
form .card{
    margin: 20px;
    display: inline-block;
}
#image-add-handler, #image-edit-handler{
    display: inline-block;
}
#image-add-handler div, #image-edit-handler div{
    display: inline-block;
    margin: 0 2%;
    width: 45%;
}
.descriptions-conteiner h4, .images-conteiner h4{
    color: #55595c;
    width: 100%;
    margin-top: 10px;
}


.carrousel-conteiner{
    width: 100%;
    overflow: hidden;
}
.carrousel-conteiner .carrousel{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    transition: .25s;
}